@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Basket

<div class="">
    @if (Model.Items.Count() > 0)
    {
    <small class="navbar-text">
        <b>Your Basket: </b>
        @Model.Items.Sum(i => i.Quantity) item(s)
        @Model.CalculateTotal().ToString("c")
    </small>

    }
    <a class="btn btn-sm btn-secondary navbar-btn" asp-page="/Shopping"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-basket"></i>
    </a>
</div>
